In [1]:
import pandas as pd
import numpy as np
import sklearn
!python3 --version
print("Pandas", pd.__version__)
print("Numpy", np.__version__)
print("Scikit learn", sklearn.__version__)
import matplotlib
print("Matplotlib", matplotlib.__version__)

Pandas 1.1.4
Numpy 1.19.4
Scikit learn 0.23.2
Matplotlib 3.3.3

Python was not found; run without arguments to install from the Microsoft Store, or disable this shortcut from Settings > Manage App Execution Aliases.

In [4]:
#データの読み込みと前処理
import pandas as pd
train_data = pd.read_csv("./csv/train_data.csv", index_col='id')
print(train_data.shape)

(8878, 2)

In [5]:
train_data[train_data['y'] == 0].head()

                                             contents  y
id
1   Subject: re : fw : willis phillips\r\ni just s...  0
2   Subject: re : factor loadings for primary curv...  0
3   Subject: re : meridian phone for kate symes\r\...  0
4   Subject: re : october wellhead\r\nvance ,\r\nd...  0
5   Subject: california 6 / 13\r\nexecutive summar...  0

In [6]:
train_data[train_data['y'] == 1].head()

                                              contents  y
id
67   Subject: information is key to sto - ck succes...  1
95   Subject: aggressive investors should be watchi...  1
152  Subject: portraits for commission from photos\...  1
172  Subject: microsoft autoroute 2005 dvd uk - $ 1...  1
173  Subject: failure notice\r\nhi . this is the qm...  1

In [7]:
np.sum(train_data['y'] == 0), np.sum(train_data['y'] == 1)

(8707, 171)

In [8]:
X = train_data['contents']
y = train_data['y']

In [9]:
#scikit-learnライブラリをimport
import sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression

# 回帰モデルのインスタンス化
tfidf = TfidfVectorizer()
tfidf.fit(X)
vec_X = tfidf.transform(X)
model = LogisticRegression()

#予測モデルの作成
result = model.fit(vec_X, y)

In [10]:
from sklearn.metrics import confusion_matrix, f1_score
print(confusion_matrix(y, model.predict(vec_X)))

[[8707    0]
 [ 166    5]]

In [11]:
print(f1_score(y, model.predict(vec_X))) #ほとんど検出できず

0.056818181818181816

In [12]:
path_test = "./csv/test_data.csv"
test_data = pd.read_csv(path_test, index_col='id')
test_data.head()

                                             contents
id
1   Subject: re : weather and energy price data\r\...
2   Subject: organizational study\r\ngpg and eott ...
3   Subject: re [ 7 ] : talk about our meds\r\nske...
4   Subject: report about your cable service\r\nhi...
5   Subject: start date : 1 / 26 / 02 ; hourahead ...

In [13]:
vec_X = tfidf.transform(test_data['contents'])

In [14]:
#テスト結果の出力
test_predicted = model.predict(vec_X)
submit_df = pd.DataFrame({'y': test_predicted})
submit_df.index.name = 'id'
submit_df.index += 1
submit_df.to_csv('./csv/submission.csv')